<!DOCTYPE ejs>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yu-Gi-Oh! Collection</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <h1>To refresh card list, click here</h1>
    <div>
      <form action="/cards" method="POST">
        <button class="btn">cards</button>
      </form>
    </div>

    <div>
      <%if(cardLength > 0){%>
        <table border="1">
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Main Count</th>
            <th>Extra Count</th>
          </tr>
            <%for(let i = 0; i < cardLength; i++){%>
          
              <tr>
                <td style="width:400"><%= cards[i].name %></td>
                <td style="text-align: center;width:200"><%= cards[i].type %></td>
                <td style="text-align: center;width:50; height: 50;">

                  <div>
                    <form method="POST" action="/incrementMain">
                      <input type="hidden" name="cardName" value="<%= cards[i].name %>">
                      <button type="submit">+</button>
                    </form>
                  </div>

                    <%= cards[i].copiesInCollection %>

                  <div>
                    <form method="POST" action="/decrementMain">
                      <input type="hidden" name="cardName" value="<%= cards[i].name %>">
                      <button type="submit">-</button>
                    </form>
                  </div>

                </td>
                <td style="text-align: center;width:50; height: 50 ;">
                  
                  <div>
                    <form method="POST" action="/incrementExtra">
                      <input type="hidden" name="cardName" value="<%= cards[i].name %>">
                      <button type="submit">+</button>
                    </form>
                  </div>

                  <%= cards[i].totalCopies %>

                  <div>
                    <form method="POST" action="/decrementExtra">
                      <input type="hidden" name="cardName" value="<%= cards[i].name %>">
                      <button type="submit">-</button>
                    </form>
                  </div>
                  
                </td>
              </tr>

            <%}%>
        </table>
      <%}%>
    </div>

  </body>